<p id="notice"><%= notice %></p>

<span id="problem_header">
  <%= @problem.prefix %>. <%= @problem.title %>
</span>

<p>
  <span id="problem_standing">Условие:</span>
  <div><%= @problem.body %></div>
</p>

<p>
  <span id="problem_input">Input:</span>
  <div><%= @problem.input %></div>
</p>

<p>
  <span id="problem_output">Output:</span>
  <div><%= @problem.output %></div>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
